<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >
<!--    알림 설정-->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
<!--    //카메라 설정-->
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 인터넷 설정 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gaggum"
        android:usesCleartextTraffic="true"
        tools:targetApi="31" >
        <service
            android:name=".MyForegroundService"
            />
        <activity
            android:name=".ImageViewActivity"
            android:exported="false" />
        <activity
            android:name=".ImagePreviewActivity"
            android:exported="false" />
        <activity
            android:name=".CameraActivity"
            android:exported="false" />
        <activity
            android:name=".PlantDetailActivity"
            android:exported="false" />
        <activity
            android:name=".MapScanActivity"
            android:exported="false" />
        <activity
            android:name=".KeyCertificationActivity"
            android:exported="false" />
        <activity
            android:name=".SigninActivity"
            android:exported="false" />
        <activity
            android:name=".JoinActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>